{% extends "base.html" %}

{% block title %}Home net monitor - Edit Device{% endblock %}

{% block content %}

{% if datum %}
{# <a class="link-success" href="{% url 'monitor:device_day' datum %}">&lt;&lt; Back</a> #}
{% else %}
<a class="link-success" href="{% url 'monitor:index' %}">&lt;&lt; Back</a>
{% endif %}
<br/>
Device list
<hr/>
<table>
<form action="{% url 'monitor:device_edit' device.id %}" method="post">
    {% csrf_token %}
    {{ device_form.as_table }}
</table>
    <input type="submit" value="Submit">
{% endblock %}