{% extends "base.html" %}
{% load monitor_tags %}
{% block title %}Home net monitor - Device Details{% endblock %}

{% block content %}

{% if datum %}
<a class="link-success" href="{% url 'monitor:device_day' datum %}">&lt;&lt; Back</a>
{% else %}
<a class="link-success" href="{% url 'monitor:index' %}">&lt;&lt; Back</a>
{% endif %}

<hr/>
<table class="table table-striped display compact" style="width:100%" id="deviceTable">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Mac Address</th>
            <th>Manufacturer</th>
            <th>First Seen</th>
            <th>Last Seen</th>
            <th>Last IP</th>
            <th>Known</th>
            <th>Edit</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>
                {{ entry.name }}
            </td>
            <td>
                {{ entry.description }}
            </td>
            <td>
                {{ entry.mac_address }}
            </td>
            <td>
                {{ entry.manufacturer }}
            </td>
            <td data-sort="{{ entry.first_seen|date:'YmdHi' }}">
                {% if entry.first_scan %}
                <a class="link-success" href="{% url 'monitor:scan_details' entry.first_scan.id %}" title="See all devices from this scan">{{ entry.first_seen|date:'d M Y H:i' }}</a>
                {% else %}
                {{ entry.first_seen|date:'d M Y H:i' }}
                {% endif %}
            </td>
            <td data-sort="{{ entry.last_seen|date:'Ymd' }}">
                {% if entry.last_scan %}
                <a class="link-success" href="{% url 'monitor:scan_details' entry.last_scan.id %}" title="See all devices from this scan">{{ entry.last_seen|date:'d M Y H:i' }}</a>
                {% else %}
                {{ entry.last_seen|date:'d M Y H:i' }}
                {% endif %}
            </td>
            <td>
                {{ entry.last_ip }}
            </td>
            <td>
                {{ entry.is_trusted }}
            </td>
            <td>
                <a class="link-success" href="{% url 'monitor:device_edit' entry.id %}">edit</a>
            </td>
        </tr>
    </tbody>
</table>
<hr/>
Device seen on:
{% for day in entry|days_seen:7 %}
<a class="link-success" href="{% url 'monitor:device_day' day %}">{{ day }}</a>&nbsp;
{% endfor %}
<a class="link-success" href="{% url 'monitor:device_history' entry.id %}">View full history</a>
{% endblock %}