{% extends "base.html" %}
{% load static %}
{% block head %}
{% if scan_running %}<meta http-equiv="refresh" content="7">{% endif %}
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/sortable.min.css' %}">
{% endblock %}

{% block title %}Home net monitor - Inventory{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(function(){
    $("#runScanBtn").click(function(){
        if (confirm("Are you sure?")) {
            console.log("sure i'm sure");
            $("#runScanForm").submit();
        } else {
            console.log("no i'm not sure");
        }
    });
});
</script>
<script src="{% static 'js/sortable.min.js' %}"></script>
{% endblock %}

{% block content %}
{% include 'monitor/partials/scans_nav.html' %}
<h5>Devices seen between {{ start_time }} and {{ end_time }}.</h5>
<hr/>
{% with entries=devices %}
{% include 'monitor/partials/device_table.html' %}
{% endwith %}
{% endblock %}