{% extends "base.html" %}
{% load static %}
{% block head %}
{% if scan_running %}<meta http-equiv="refresh" content="7">{% endif %}
{% endblock %}

{% block css %}
<link rel="stylesheet" href="//cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
<style>
.dataTables_wrapper .myfilter .dataTables_filter {
    float:left
}
.dataTables_wrapper .mylength .dataTables_length {
    float:right
}
</style>
{% endblock %}

{% block title %}Home net monitor - Inventory{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(function(){
    $("#runScanBtn").click(function(){
        if (confirm("Are you sure?")) {
            console.log("sure i'm sure");
            $("#runScanForm").submit();
        } else {
            console.log("no i'm not sure");
        }
    });

    $('#deviceTable').DataTable({
        select: true,
        paging: false,
        order: [[0, "asc"], [4, "asc"], [ 5, "desc" ]],
        columnDefs: [
            { orderable: false, targets: 8 },
            { searchable: false, targets: 8 }
        ],
        dom:"<'myfilter'f><'mylength'l>t",
        language: {
            search: "_INPUT_",
            searchPlaceholder: "Search..."
        },

        createdRow: function(row, data, dataIndex){
            if( data[7] ==  `False`){
                $(row).addClass('unknownDevice');
            }
        }

    });

});
</script>
<script src="//cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
{% endblock %}

{% block content %}
{% include 'monitor/partials/scans_nav.html' %}
{% if start_time and end_time %}
<h5>Devices seen between {{ start_time|date:"j. n. Y. H:i" }} and {{ end_time|date:"j. n. Y. H:i" }}.</h5>
{% else %}
<h5>All devices seen</h5>
{% endif %}

<hr/>
{% with entries=devices %}
{% include 'monitor/partials/device_table.html' %}
{% endwith %}
{% endblock %}