<!-- {% load custom_tags %} -->
<table class="table table-bordered table-hover table-striped table-sm table-responsive">
    <thead>
        <tr>
            <th>Time</th>
            <th>Test Duration</th>
            <th>Server</th>
        </tr>
    </thead>

    <tbody>
    {% if not entries %}
    <tr>
        <td colspan="5"><center>No failed DNS tests {% if day == today %}today{% else %}on {{ day|date:"j. n. Y." }}{% endif %}</center></td>
    </tr>
    {% endif %}
    {% for entry in entries %}
    {% if not entry.success %}
        <tr>
            <td>
                <a href="{% url 'speedtest:dnstest_detail' entry.id %}">{{ entry.start_time|date:"H:i:s" }}</a>
            </td>
            <td title="{{ entry.duration|in_ms:'force' }}">
                {{ entry.duration|in_ms }}
            </td>
            <td>
                {{ entry.server }}
            </td>
        </tr>
    {% endif %}
    {% endfor %}
    </tbody>
</table>
