<!-- {% load custom_tags %} -->
<table class="table table-bordered table-hover table-striped table-sm table-responsive">
    <thead>
        <tr>
            <th>Time</th>
            <th>Result</th>
            <th>Duration</th>
            <th>Server</th>
            <th>Average Ping</th>
            <th>Loss</th>
            <th title="min/avg/max/dev">Stats</th>
        </tr>
    </thead>

    <tbody>
    {% if not entries %}
    <tr>
        <td colspan="7"><center>No failed Ping tests {% if day == today %}today{% else %}on {{ day|date:"j. n. Y." }}{% endif %}</center></td>
    </tr>
    {% endif %}
    {% for entry in entries %}
    {% if not entry.success %}
        <tr>
            <td>
                <a href="{% url 'speedtest:pingtest_detail' entry.id %}">{{ entry.start_time|date:"H:i:s" }}</a>
            </td>
            <td>
                {% if entry.success %}
                    {% if entry.packet_loss < 0 %}
                        OK
                    {% else %}
                        LOSSY
                    {% endif %}
                {% else %}
                    {% if entry.ping > 0 %}
                        LOSSY
                    {% else %}
                        FAILED
                    {% endif %}
                {% endif %}
            </td>
            <td title="{{ entry.duration|in_ms:'force' }}">
                {{ entry.duration|in_ms }}
            </td>
            <td>
                {{ entry.server }}
            </td>
            <td>
                {% if entry.ping > 0 %}
                {{ entry.ping|decimal:"3" }} ms
                {% else %}
                N/A
                {% endif %}
            </td>
            <td>
                {% if entry.packet_loss < 0 %}0{% else %}{{ entry.packet_loss }}%{% endif %}
            </td>
            <td>
                {% if entry.stats %}
                {{ entry.stats }}
                {% else %}
                N/A
                {% endif %}
            </td>
        </tr>
    {% endif %}
    {% endfor %}
    </tbody>
</table>
