<!-- {% load custom_tags %} -->
{% if day == today %}
{% with entry=speed.first %}
<table class="table table-sm table-responsive">
                    <caption></caption>
    <thead>
        <tr>
            <th colspan="6">Last Speed Test</th>
        </tr>
        <tr>
            <th>Time</th>
            <th>Download Speed</th>
            <th>Upload Speed</th>
            <th>Latency</th>
            <th>Jitter</th>
        </tr>
    </thead>
    <tbody>
    {% if entry %}
    <tr>
        <td><a href="{% url 'speedtest:entry_detail' entry.id %}">{{ entry.start_time|date:"H:i:s" }}</a></td>
        <td>{{ entry.download|convert_speed:"Mbps" }} Mbps</td>
        <td>{{ entry.upload|convert_speed:"Mbps" }} Mbps</td>
        <td>{{ entry.latency|decimal:"2" }} ms</td>
        <td>{{ entry.jitter|decimal:"2" }} ms</td>
    </tr>
    {% endif %}
    <tr>
        <td colspan="6">
            <center>
            {% if not test_running %}
            <form action="{% url 'speedtest:speedtest_start' %}" method="post" id="runTestForm">
                {% csrf_token %}
                <a href="#" id="runTestBtn">Run Speed test now</a>
            </form>
            {% else %}
                <form action="{% url 'speedtest:speedtest_stop_all' %}" method="post" id="stopAllTestsForm">
                    {% csrf_token %}
                    Speed test in progress (<a href="#" id="stopAllTestsBtn">Stop all</a>)
                </form>
            {% endif %}
            </center>
        </td>
    </tr>
    </tbody>
</table>
{% endwith %}
{% endif %}
<table class="table table-responsive">
    <caption>
        Failed/Total: {{ failed_today }}/{{ total_today }} ({{ failed_today|percent_of:total_today }}%)
    </caption>
    <thead>
    <tr>
        <th colspan="5">Speed test statistics for {{ day|date:"j. n. Y." }}</th>
    </tr>
    <tr>
        <th></th>
        <th>Download Speed</th>
        <th>Upload Speed</th>
        <th>Latency</th>
        <th>Jitter</th>
    </tr>
    </thead>

    <tbody>
{% if speed_worst %}
    <tr>
        <td>Worst:</td>
        <td>{{ speed_worst.download|convert_speed:"Mbps" }} Mbps</td>
        <td>{{ speed_worst.upload|convert_speed:"Mbps" }} Mbps</td>
        <td>{{ speed_worst.latency|decimal:"0" }} ms</td>
        <td>{{ speed_worst.jitter|decimal:"2" }} ms</td>
    </tr>
{% endif %}
{% if speed_avg %}
    <tr>
        <td>Average:</td>
        <td>{{ speed_avg.download|convert_speed:"Mbps" }} Mbps</td>
        <td>{{ speed_avg.upload|convert_speed:"Mbps" }} Mbps</td>
        <td>{{ speed_avg.latency|decimal:"0" }} ms</td>
        <td>{{ speed_avg.jitter|decimal:"2" }} ms</td>
    </tr>
{% endif %}
{% if speed_best %}
    <tr>
        <td>Best:</td>
        <td>{{ speed_best.download|convert_speed:"Mbps" }} Mbps</td>
        <td>{{ speed_best.upload|convert_speed:"Mbps" }} Mbps</td>
        <td>{{ speed_best.latency|decimal:"0" }} ms</td>
        <td>{{ speed_best.jitter|decimal:"2" }} ms</td>
    </tr>
{% endif %}
    </tbody>
</table>


