<table class="table table-striped display compact" style="width:100%" id="deviceTable">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Mac Address</th>
            <th>Manufacturer</th>
            <th>First Seen</th>
            <th>Last Seen</th>
            <th>Last IP</th>
            <th>Known</th>
            <th>Edit</th>
        </tr>
    </thead>

    <tbody>
    {% if not entries %}
    <tr>
        <td colspan="9">
            <center>
                {% if not scan_running %}
                No recent scans.
                {% else %}
                    Scan in progress, please wait.
                {% endif %}
            </center>
        </td>
    </tr>
    {% endif %}
    {% for entry in entries %}

        <tr>
            <td>
                <a href="{% url 'monitor:device_details' entry.id %}?d={{ datum|date:'Y-m-d' }}">{{ entry.name }}</a>
            </td>
            <td>
                {{ entry.description }}
            </td>
            <td>
                {{ entry.mac_address }}
            </td>
            <td>
                {{ entry.manufacturer }}
            </td>
            <td data-sort="{{ entry.first_seen|date:'YmdHi' }}">
                {% if entry.first_scan %}
                <a href="{% url 'monitor:scan_details' entry.first_scan.id %}" title="See all devices from this scan">{{ entry.first_seen|date:'d M Y H:i' }}</a>
                {% else %}
                {{ entry.first_seen|date:'d M Y H:i' }}
                {% endif %}
            </td>
            <td data-sort="{{ entry.last_seen|date:'Ymd' }}">
                {% if entry.last_scan %}
                <a href="{% url 'monitor:scan_details' entry.last_scan.id %}" title="See all devices from this scan">{{ entry.last_seen|date:'d M Y H:i' }}</a>
                {% else %}
                {{ entry.last_seen|date:'d M Y H:i' }}
                {% endif %}
            </td>
            <td>
                <a href="http://{{ entry.last_ip }}/" target="_blank" title="Visit address in new tab">{{ entry.last_ip }}</a>
            </td>
            <td>
                {{ entry.is_trusted }}
            </td>
            <td>
                <a href="{% url 'monitor:device_edit' entry.id %}">edit</a>
            </td>
        </tr>

    {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="9"><center>
                {% if not scan_running %}
                <form action="{% url 'monitor:scan_start' %}" method="post" id="runScanForm">
                    {% csrf_token %}
                    <a href="#" id="runScanBtn"><small>Run a new scan now.</small></a>
                </form>
                {% else %}
                <small>Scanning...</small>
                {% endif %}
                </center>
            </td>
        </tr>
    </tfoot>
</table>
