{% extends "base.html" %}
{% load custom_tags %}
{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'day_detail' day %}">{{ day|date:"j. n. Y." }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ entry.start_time|date:"H:i:s" }}</li>
  </ol>
</nav>

<table class="table table-bordered table-responsive">
    <thead>
        <tr>
            <th colspan="6">Details for DNS test at {{ entry.start_time|date:"H:i:s" }} on {{ day|date:"j. n. Y." }}</th>
        </tr>
        <tr>
            <th>time</th>
            <th>status</th>
            <th>duration</th>
            <th>server</th>
            <th>resolved to</th>
            <th>raw output</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                {{ entry.start_time|date:"H:i:s" }}
            </td>
            <td>
                {% if entry.success %}OK{% else %}FAIL{% endif %}
            </td>
            <td>
                {{ entry.duration|in_ms }} ms
            </td>
            <td>
                {{ entry.server }}
            </td>
            <td>
                {{ entry.ip }}
            </td>
            <td>
                <pre>{{ entry.data }}</pre>
            </td>
        </tr>
    </tbody>
</table>

{% endblock %}